<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template wrking</title>
</head>
<body>
<!--yai ek template hai-->
<!--{{name}} is from {{place}}-->
<h1>text anylazer enter your text below</h1>
<form action="anaylaze"  method="get">
    <textarea name="text" style="width: 541px; height: 268px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc">Removepunction
    <br>

    <input type="checkbox" name="full_capitlize">UPPER_CASE<br>
    <input type="checkbox" name="new_liner_remover">NEW LINER REMOVER<br>
    <input type="checkbox" name="space_remover">space remover<br>
     <input type="checkbox" name="charcount">charcount<br>
        <button type="submit"> text anylzer</button>
</form>
</body>
</html>